html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /* ВОТ ТУТ АККУРАТНА*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper {
  background-color: crimson;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 85px;
  max-height: 150px;
  color: white;
}

.brand-log {
  font-size: 2.6em;
}

.brand-log:hover{
  cursor: pointer;
  color: palevioletred;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#logo  {
  animation: spin 5s linear 0s infinite;
}


.container{
  margin-top: 60px;
  display: grid;
  grid-template-rows: 3fr 1fr auto auto;
  grid-template-columns: auto;
  grid-template-areas: 
    "search-form"
    "sort-movies"
    "none-movies"
    "movies-content";
    
}


.search-form {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: url('./images/background_1.png');
  margin: 0px auto;
  width: 800px; 
  height: 280px;
  grid: search-form;
}

.input-form{
  display: grid;
  justify-items: center;
  align-items: center;
}


.input-form > label {
  align-self: start;
  color: white;
  font-size: 20px;
}

#title {
  width: 750px;
  height: 45px;
  border-radius: 10px;
}


.form-buttons-categories  {
  margin-left: 27px;
  grid-gap: 5px;
}


#button-director-films {
  margin-top: 10px;
  margin-left: 10px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

#button-title-films {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}


.form-button-find{
  display: grid;
  align-items: start;
  justify-content: center;
}


#button-find-films{
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

#button-find-films:hover, #button-title-films:hover, #button-director-films:hover{
  background-color: palevioletred;
}

.sort-movies {
  padding-top: 10px;
  grid: sort-movies;
  margin: 0px auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background: rgba(255, 245, 215, .6);
  width: 800px; 
}

.sorting{
  display: grid;
  justify-items: center;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}


.release-date:hover, .sort-straight:hover, .sort-reverse:hover  {
  color: palevioletred;
  cursor: pointer;
} 


.none-movies{
  display: grid;
  margin: 0px auto;
  height: 150px;
  grid: none-movies;
  justify-content: center;
  align-items: end;
  font-size: 2.5rem;
}



.movies-content{
  display: grid;
  justify-items: center;
  margin-top: 15px;
  grid: movies-content;
  grid-template-columns: 1fr 1fr 1fr; 
}


.films-content{
  display: grid;
  padding-bottom: 10px;
}

#full-info, .btn-back{
  justify-self: center;
  align-self: start;
  text-decoration: none;
  color: black;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  cursor: pointer;
}

#full-info:hover, .btn-back:hover {
  color: palevioletred;
  cursor: pointer;
}

.film-content{
  background-color: rgba(167, 23, 44, 0.6);
  width: 50%;
  margin: 0px auto;
  display: grid;
  place-items: center;
}



.film-title, .film-year, .film-rait, .film-descr{
  justify-self: start;
}

.btn-back{
  margin:15px ;
}







