html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /* ВОТ ТУТ АККУРАТНА*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper {
  background-color: crimson;
  display: grid;
  width: 100%;
  min-height: 85px;
  max-height: 150px;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  align-items: center;
  color: white;
}

.brand-log {
  margin-left: 20px;
  font-size: 200%;
}

.brand-log:hover{
  cursor: pointer;
  color: red;
}

.catalog-navigation {
  justify-items: center;
  display: grid;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-self: end;
}

ul.catalog-navigation > li > a {
  text-decoration: none;
  color: white;
  font-size: 110%;
}

ul.catalog-navigation > li > a:hover{
  color: red;
}


.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* grid-auto-rows: 200px; */

  grid-template-areas: 
    ". a a ."
    ". a a ."
    ". b b ."
    ;
}

.search-form {
  margin-top: 100px;
  background: url('./images/background_1.png')  no-repeat;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: a;
  align-self: center;
  justify-self: center;
  /* border: 1px solid forestgreen; */
  /* align-items: center; */
  padding-top: 50px;
}

.input-form {
  display: grid;
  /* grid-template-rows: 2fr; */
  grid-gap: 10px;
}

.input-form > label {

  margin: 0px auto;
  font-size: 130%;
  color: white;
  font-weight: bolder;
}

#title {
  max-width: 792px;
  height: 50px;
  border-radius: 8px;
}

.buttons-form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}


#button-director-films {
  margin-top: 10px;
  margin-left: 10px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  cursor: pointer;
}

#button-title-films {
  margin-top: 10px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  cursor: pointer;
}

#button-title-films:hover, #button-director-films:hover, #button-find-films:hover {
  background: red;
}


.form-button-find {
  margin: 0px auto;
}

#button-find-films{
  margin: 0px auto;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 9px 18px;
  font-size: 1rem;
  cursor: pointer;
}

.sort-movies{
  grid-area: b;
  display: flex;
  flex-direction: row;
  background-color: gray;
  height: 50px;
  background: rgba(255, 245, 215, .6);
  
}

.counter {
  display: grid;
  align-items: center;
  grid-area: counter;
  flex-grow: 1;
}

.soring {
  display: flex;  
  flex-direction: row;
  grid-gap: 1em;
  align-items: center;
}

.release-date:hover, .raiting:hover {
  color: wheat;
  cursor: pointer;
}